@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');

body{
  background-color: hsl(0, 2%, 10%);
  color: white;
  padding: 50px;
  font-family: 'Nunito', sans-serif;
}


.raster-background {
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px),
                    linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  background-size: 60px 60px; 
  z-index: -1; /* Stellt sicher, dass es hinter anderen Inhalten liegt */
}
 
.top-content{

}

.close {
  display: flex;
  justify-content: center;
  width: 150px;
  height: 100%; 
  background-color: #6c757d; 
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px; 
  font-weight: 600;
  text-align: center;
  line-height: 40px; 
  cursor: pointer; 
  transition: background-color 0.3s; 
  user-select: none; 
  margin-right: 10px;
}

.close:hover{
  background-color: hsl(115, 29%, 43%);
}

.middle-content{
  background-color: antiquewhite;
  position: absolute; /* oder 'fixed' wenn es beim Scrollen in der Mitte bleiben soll */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}


.tiles-word{
  display: flex;
}

.letter{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  background-color: #538d4e;
  margin-right: 2px;
  font-size: 100px;
  font-weight: 800;
  color: white;
  margin-bottom: 25px;
}

.letter-grey{
  background-color: hsl(240, 2%, 23%);
}

.letter-yellow{
  background-color: hsl(49, 51%, 47%);
}

.game{
  display: flex;
  align-items: end;
  font-size: 70px;
  margin-left: 40px;
  font-weight: 600;
}
