.bottom-bar{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: left;
    background-color: rgba(58, 59, 59, 0.4);
    height: 60px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    align-items: center;
}

.bottom-bar .clock{
    margin-left: auto;
}

.clock{
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin-right: 30px;
}

.bottom-link{
    display: flex;
    height: 60%;
    align-items: center;
    margin-left: 30px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}


.bottom-link:hover{
    text-decoration: underline;
}
