body{
  background-color: hsl(0, 2%, 10%);
  color: white;
  padding: 50px;
  
}

.raster-background {
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px),
                    linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  background-size: 60px 60px; 
  z-index: -1; /* Stellt sicher, dass es hinter anderen Inhalten liegt */
}


.C{
  font-size: 2em;
  background-color: hsl(115, 29%, 43%);
  color: white;
  border: .10em solid white;
  padding: 0px 20px;
  text-transform: uppercase;
  font-weight: bold;
  align-items: center;
  user-select: none;
  transition: transform 250ms linear;
  margin-right: 5px;
}

.form-control {
  box-sizing: border-box; /* Stellt sicher, dass Padding und Border innerhalb der Elementbreite sind */
  border: 5px solid transparent; /* Setzt einen transparenten Border, um die Größe konstant zu halten */
  transition: border-color 0.3s; /* Optional: Fügt einen sanften Übergangseffekt für den Border hinzu */
  border-radius: 15px;
}

.form-control:focus {
  outline: none;
  border-color: hsl(115, 29%, 43%); /* Ändert nur die Farbe des Borders, nicht die Größe */
  box-shadow: none;
}

.end{
  display: flex;
}

.close {
  width: 70px;
  height: 100%; 
  background-color: #6c757d; 
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px; 
  text-align: center;
  line-height: 40px; 
  cursor: pointer; 
  transition: background-color .3s; 
  user-select: none; 
  margin-right: 10px;
}

.close:hover {
  background-color: hsl(115, 29%, 43%); 
}

.btn-primary{
  width: 10%;
  background-color: #b59f39;
  border: solid white;
}

.btn-primary:hover{
  background-color: hsl(115, 29%, 43%);
  border: solid white;
}