@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');


*, *::after, *::before {
    box-sizing: border-box;
  }

  .raster-background {
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px),
                      linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
    background-size: 60px 60px; 
    z-index: -1; 
  }  

  body {
    background-color: hsl(0, 2%, 10%);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'Nunito', sans-serif;;
  }
  
  .almost-all{
  font-size: clamp(.5rem, 2.5vmin, 1.5rem);
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  border-radius: 30px;
  background-color: hsl(0, 2%, 10%);
  padding: 30px;
  margin: 50px 100px 0px 100px;
 }
  
  .lower{
    padding: 50px;
  }

  .top{
    background-color: #818283;
    display: flex;
  }

  .btn-primary{
    animation: highlightButton 1s ease 5;
  }

  @keyframes highlightButton {
    0%, 100% {
      background-color: hsl(49, 51%, 47%); 
      transform: scale(1);
      opacity: 1;
    }
    50% {
      background-color: hsl(49, 51%, 47%);
      transform: scale(1.2);
      opacity: 1;
    }
  }
  

 .ms-auto{
  display: flex;
 }


  .keyboards{
    display: flex;
  }
  .keyboard {
    display: grid;
    flex-grow: 1;
    grid-template-columns: repeat(20, minmax(auto, 1.25em));
    grid-auto-rows: 3em;
    gap: .25em;
    justify-content: center;
  }
    
  .key {
    font-size: inherit;
    grid-column: span 2;
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(
      var(--hue, 200),
      var(--saturation, 1%),
      calc(var(--lightness-offset, 0%) + var(--lightness, 51%))
    );
    color: white;
    fill: white;
    text-transform: uppercase;
    border-radius: .25em;
    cursor: pointer;
    user-select: none;
  }
  
  .key.large {
    grid-column: span 3;
  }
  
  .key > svg {
    width: 1.75em;
    height: 1.75em;
  }
  
  .key:hover, .key:focus {
    --lightness-offset: 10%;
  }
  
  .key.wrong {
    --lightness: 23%;
  }
  
  .key.wrong-location {
    --hue: 49;
    --saturation: 51%;
    --lightness: 47%;
  }
  
  .key.correct {
    --hue: 115;
    --saturation: 29%;
    --lightness: 43%;
  }
  
  .game-container{
    display: flex;
    margin-bottom: 20px;
  }
  .guess-grid{
    display: grid;
    justify-content: center;
    align-content: center;
    flex-grow: 1;
    grid-template-columns: repeat(5, 4em);
    grid-template-rows: repeat(6, 4em);
    gap: .25em;
    margin-bottom: 1em;
  }


  .tile {
    font-size: 2em;
    color: white;
    border: .05em solid hsl(240, 2%, 23%);
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    transition: transform 250ms linear;
  }
  
  .tile[data-state="active"] {
    border-color: hsl(200, 1%, 34%);
  }
  
  .tile[data-state="wrong"] {
    border: none;
    background-color: hsl(240, 2%, 23%);
  }
  
  .tile[data-state="wrong-location"] {
    border: none;
    background-color: hsl(49, 51%, 47%);
  }
  
  .tile[data-state="correct"] {
    border: none;
    background-color: #538d4e;
  }
  
  .tile.shake {
    animation: shake 250ms ease-in-out;
  }
  
  .tile.dance {
    animation: dance 500ms ease-in-out;
  }
  
  .tile.flip {
    transform: rotateX(90deg);
  }
  
  @keyframes shake {
    10% {
      transform: translateX(-5%);
    }
  
    30% {
      transform: translateX(5%);
    }
  
    50% {
      transform: translateX(-7.5%);
    }
  
    70% {
      transform: translateX(7.5%);
    }
  
    90% {
      transform: translateX(-5%);
    }
  
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes dance {
    20% {
      transform: translateY(-50%);
    }  
  
    40% {
      transform: translateY(5%);
    }  
  
    60% {
      transform: translateY(-25%);
    }  
  
    80% {
      transform: translateY(2.5%);
    }  
  
    90% {
      transform: translateY(-5%);
    }  
  
    100% {
      transform: translateY(0);
    }
  }
  
  .alert-container {
    position: fixed;
    top: 10vh;
    left: 50vw;
    transform: translateX(-50%);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .alert {
    pointer-events: none;
    background-color: hsl(204, 7%, 85%);
    padding: .75em;
    border-radius: .25em;
    opacity: 1;
    transition: opacity 500ms ease-in-out;
    margin-bottom: .5em;
  }
  
  .alert:last-child {
    margin-bottom: 0;
  }
  
  .alert.hide {
    opacity: 0;
  }

  .bottom-bar{
    width: 100%;
    display: flex;
    justify-content: left;
    height: 60px;
    align-items: center;
  }
  
  .bottom-bar .clock{
    margin-left: auto;
    margin-right: 100px;
  }
  
  .clock{
    color: white;
    font-size: 20px;
    font-weight: 700;
  }
  
  .back {
    visibility: hidden;
    background-color: hsl(49, 51%, 47%);
    color: white;
    font-weight: 400;
    font-size: 26px;
    border: none;
    border-radius: 5px;
    align-items: center;
    animation: none;
    margin-left: 5px;
    margin-bottom: 30px;
  }

  .back.visible {
    visibility: visible;
    animation: highlightButton 1s ease 3; 
  }

  .back:hover{
      background-color: hsl(115, 29%, 43%);
      color: white;
  }
