<nav class="navbar navbar-expand-lg top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/homescreen">Tile Quest</a>
    <div class="d-flex">
      {% if request.path != url_for('main.homescreen') %}  
        <a href="/homescreen" class="btn logout">Back to Menu</a>
      {% endif %}
      <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">How to play Tile Quest</a>
      <form action="/logout" method="post">
        <button class="btn logout" type="submit">Logout</button>
      </form>
    </div>
  </div>
</nav>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">The Rules of the Game</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          The goal of Tile Quest is to guess a secret english word within six tries. Each guess must be a valid five-letter word. After each guess, the color of the letters changes to show how close your guess was to the word.<br><br>
          <div class="png-body">
            <img src="{{ url_for('static', filename='css/Rules_Word.png') }}" alt="Spielregeln" class="rules-png">
          </div>
          <ul>
            <span class="modal-letter-green">Green:</span> The letter is in the word and in the correct spot.<Br>
            <span class="modal-letter-yellow">Yellow:</span> The letter is in the word but in the wrong spot.<Br>
            <span class="modal-letter-grey">Grey:</span> The letter is not in the word in any spot.<Br>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
