<div class="bottom-bar">
    <a href="/privacy_policy" open-create class="bottom-link">Privacy Policy</a></p>
    <a href="imprint" open-create class="bottom-link">Imprint</a></p>
    <div id="clock" class="clock"></div>
  </div>
  
  <script>
    function updateClock() {
    var now = new Date();
    var hours = now.getHours();
    var minutes = now.getMinutes();
    var ampm = hours >= 12 ? 'PM' : 'AM';
    hours = hours % 12;
    hours = hours ? hours : 12;
    minutes = minutes < 10 ? '0' + minutes : minutes;
    var strTime = hours + ':' + minutes + ' ' + ampm;
    document.getElementById('clock').textContent = strTime;    
    }

    setInterval(updateClock, 1000);
    updateClock(); 
    </script>
