<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tile Quest - DSGVO</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/DSGVO.css') }}">
    <link rel="icon" type="image" href="{{ url_for('static', filename='css/letter.jpeg') }}">
</head>

<body>
  {% include "navbar.html" %}

  <div class="raster-background"></div>

  <div class="all-body">
    <div class="profil-body">
      <h1 class="header"><span class="U">P</span>rivacy Policy</h1><br>

      <div class="profil-attribute">
        <p name="text">We, the team behind this "Tile Quest" project, take the protection of your personal data very seriously and adhere strictly to the rules of data protection laws. Personal data on this website is collected only to the extent technically necessary. Under no circumstances will the collected data be sold or otherwise transferred to third parties.<br><br>

          This statement provides an overview of how we ensure this protection and what kind of data is collected for what purpose.<br><br>
          
          <h2>Data Processing on This Website</h2>
          The Web-Application automatically collects and stores information transmitted by your browser in our server log files. This information includes:<br><br>
          
          <ul>
          - Browser type/version<br>
          - Operating system used<br>
          - Referrer URL (the previously visited page)<br>
          - Hostname of the accessing computer (IP address)<br>
          - Time of the server request.<br><br>
          </ul>
          This data cannot be attributed to specific individuals by this Project. These data are not combined with data from other sources.<br><br>
          

          <h2>Right to Information</h2>
          You have the right to information about your personal data stored, its origin and recipient, and the purpose of data processing at any time. Information about the stored data can be provided by Benjamin Friegel or Maximilan Herzog.<br><br>
          
          <h2>Further Information</h2>
          Your trust is important to us. Therefore, we are always available to answer questions regarding the processing of your personal data. If you have questions that this privacy policy could not answer or if you require more detailed information on any point, please contact Benjamin Friegel or Maximilian Herzog at any time.</p>
      </div>

    </div>

  <div class="bottom-bar">
    <div id="clock" class="clock"></div>
  </div>
  
  <script>
    function updateClock() {
      var now = new Date();
      var hours = now.getHours();
      var minutes = now.getMinutes();
      var ampm = hours >= 12 ? 'PM' : 'AM';
      hours = hours % 12;
      hours = hours ? hours : 12;
      minutes = minutes < 10 ? '0' + minutes : minutes;
      var strTime = hours + ':' + minutes + ' ' + ampm;
      document.getElementById('clock').textContent = strTime;    
    }
  
    setInterval(updateClock, 1000);
    updateClock(); 
    </script>
</body>
</html>